#wrap {
  margin: 0 auto;
}

/* header css */
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #E2E8F0;
}
.inner {
  height: 60px;
}

#header h1 {
  position: absolute;
  top: 10px;
  left: 360px;
}

/* header end =========================================================== */

/* container, content */
#container {
  height: 100vh;
  padding: 20px;
}
#content {}

/* main - todoSearchBox */
.main {
  position: relative;
  background-color: #f1f5f9;
}
.todoSearchBox .search {
  position: absolute;
  top: 84px;
  left: 360px;
  width: 1016px;
  height: 56px;
  border: 2px solid #0F172A;
  border-radius: 24px;
  background-color: #F1F5F9;
  box-shadow: 3px 4px 5px #0F172A;
}
.todoSearchBox .search::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.16px;
  text-align: center;
  color: #64748b;
}
.todoSearchBox .addBtn {
  position: absolute;
  top: 84px;
  left: 1392px;
  
  border: 2px solid #0F172A;
  margin-left: 8px;
  width: 168px;
  height: 56px;
  border-radius: 24px;
  background-color: #E2E8F0;
  box-shadow: 3px 4px 5px #0F172A;
  cursor: pointer;
  transition: 0.3s;
}
.todoSearchBox .addBtn:hover {
  background-color: #0f172a;
  color: #fff;
}

/* todoSearchBox end =========================================================== */

/* main - tableWrap */
.tableWrap {
  /* margin-top: 30px; */
}
.tableWrap .todoImg {
  position: absolute;
  top: 180px;
  left: 360px;
  border-radius: 23px;
  width: 97px;
  height: 36px;
}
.tableWrap .doneImg {
  position: absolute;
  top: 180px;
  left: 972px;
  border-radius: 23px;
  width: 97px;
  height: 36px;
}

.checkRadio {
  appearance: none;
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  border: 2px solid #0F172A;
  background-color: #FEFCE8;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 999999999;
}
.checkRadio:checked {
  background-color: #7C3AED;
  border-radius: 50%;
  position: relative;
  z-index: 10000;
}
.checkRadio:checked::before {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}
.checkBoxLabel {
  cursor: pointer;
}

/* main - todoTable */
.todoTable  {
  position: absolute;
  top: 232px;
  left: 360px;

  width: 558px;
  height: 182px;
  float: left;
}

.todoTable .checkList {
  width: 558px;
  height: 50px;
  border: 2px solid #0F172A;
  border-radius: 27px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoTable .checkList:last-child {
  margin-bottom: 0;
}

/* todoTable end =========================================================== */

/* main - doneTable */
.doneTable {
  position: absolute;
  top: 230px;
  left: 972px;

  width: 558px;
  height: 182px;
  float: right;
}
.doneTable .checkList {
  width: 558px;
  height: 50px;
  border: 2px solid #0F172A;
  border-radius: 27px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.doneTable .checkList:nth-child(2) {
  margin-bottom: 0;
}

/* doneTable end =========================================================== */

/* 테블릿용 스타일 */
@media all and (min-width:744px) and (max-width:1023px) {
  /* header */
  #header {
    width: 100%;
  }
  #header .inner {
    height: 60px;
  }
  #header h1 {
    left: 16px;
    top: 9.71px;
  }

  /* main */
  .todoSearchBox .search {
    top: 84px;
    left: 24px;
    width: 518px;
    height: 56px;
  }
  .todoSearchBox .addBtn {
    top: 84px;
    left: 558px;
    
    border: 2px solid #0F172A;
    margin-left: 8px;
    width: 162px;
    height: 56px;
  }

  .todoTable  {
    top: 232px;
    left: 24px;
    width: 669px;
    height: 182px;
  }
  .doneTable {
    top: 514px;
    left: 24px;
    width: 696px;
    height: 182px;
    margin-top: 20px;
  }
  .todoTable .checkList, .doneTable .checkList {
    width: 696px;
    height: 50px;
  }
  .tableWrap .todoImg {
    top: 180px;
    left: 24px;
  }
  .tableWrap .doneImg {
    top: 462px;
    left: 24px;
  }
}


/* 모바일 스타일 */
@media all and (max-width:767px) {
  /* header */
  #header {
    width: 100%;
  }
  #header .inner {
    height: 60px;
  }
  #header h1 {
    left: 16px;
    top: 9.71px;
  }
  .headerLogo {
    content: url('/images/mobileLogo.png');
    width: 71px;
    height: 40px;
  }

  /* main */
  .todoSearchBox .search {
    top: 76px;
    left: 16px;
    width: 280px;
    height: 56px;
  }
  .todoSearchBox .addBtn {
    width: 54.78px;
    height: 52px;
    top: 76px;
    left: 304px;
    
    border: 2px solid #0F172A;
    border-radius: 24px;

  }

  .todoTable  {
    top: 208px;
    left: 16px;
  
    width: 344px;
    height: 182px;
  }
  .doneTable {
    top: 490px;
    left: 16px;
  
    width: 344px;
    height: 182px;
  }
  .todoTable .checkList, .doneTable .checkList {
    width: 344px;
  }
  .tableWrap .todoImg {
    top: 156px;
    left: 16px;
  }
  .tableWrap .doneImg {
    top: 438px;
    left: 16px;
  }
}