#wrap {
    margin: 0 auto;
  }
  
  /* header css */
  #header {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #E2E8F0;
  }
  .inner {
    height: 60px;
  }
  
  #header h1 {
    position: absolute;
    top: 10px;
    left: 360px;
  }
  
  /* header end =========================================================== */

  