/* header css */
#header {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #E2E8F0;
  }
.inner {
    height: 40px;
}
  
#header h1 {
    position: absolute;
    top: 20px;
    left: 360px;
    font-weight: 600;
    cursor: default;
}

#header h1 span {
    font-size: 15px;
    font-style: italic;
    margin-left: 5px;
}


/* 테블릿용 스타일 */
@media all and (min-width:744px) and (max-width:1023px) {
    /* header */
    #header {
        width: 100%;
    }
    #header .inner {
        height: 60px;
    }
    #header h1 {
        left: 16px;
        top: 9.71px;
    }
}
  
  
  /* 모바일 스타일 */
@media all and (max-width:767px) {
    /* header */
    #header {
        width: 100%;
    }
    #header .inner {
        height: 60px;
    }
    #header h1 {
        left: 16px;
        top: 9.71px;
    }
}